
  @media (max-width: 300px) {
    .hero{
      width: 100%;
    }
   
    .container-fluid{
      width: 100%;
     
    }
  }
  .omnifood {
    height: 80px;
  }
  .dolar{
    font-size: 30px;
  }

  .hero {
    background-color: #fdf2e9;
    
  }
  
  .menu_liste a {
    font-size: 20px;
   
  }
  .more{
    border-radius: 10px;
    margin-top: 0px;
    font-size: 20px;
  }
  
  .i1 {
  
    position: absolute;
    left: 240px;
    top: 57px;
    z-index: 2;
    width: 300px;
  }
  
  .i2 {
    position: absolute;
    z-index: 3;
    width: 270px;
    top: 180px;
    left: 130px;
  }
  
  .i3 {
    position: absolute;
    z-index: 1;
    width: 300px;
    left: 80px;
  }
  .how{
    color: orange; 
  }
  .meals{
    color: orange;
    padding-right: 700px;
  }
  
  .chifre {
    font-size: 5rem;
    color: #575151;
    font-weight: bold;
  
  }
  
  .fa-check,
  .fa-times {
    color: #f97705;
  }
  
  .fa-burn,
  .fa-star,
  .fa-utensils-alt {
    color: #e7862f;
    ;
  }
  
  .image_ronde {
    border-radius: 50%;
    width: 50px;
    height: 39px;
  }
  
  .food-party {
    display: flex;
  }
  
  .foo {
    width: 200px;
    height: 200px;
  }
  
  .principale {
    background-color: #fdf2e9;
  
  }
  
  .image_ligne1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    padding: 1.5rem;
  }
  
  .image_ligne1 img {
    display: block;
    width: 100%;
    transition: all 0.4s;
  }
  
  .cadre_image_personne1,
  .cadre_image_personne2 {
    display: flex;
    position: relative;
    left: 35px;
    width: auto;
  }
  
  .principale {
    display: flex;
    flex-direction: row;
  }
  
  .flex_container {
  
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e,);
    overflow: hidden;
  }
  
  .form_image {
    width: 500px;
    height: 500px;
  }
  .fa-facebook-f{
   padding-right: 10px;
   color: #696868;
  }
 .fa-twitter{
   padding-left: 10px;
   color: #696868;
 }
 .fa-instagram{
   color: #696868;
 }
  .card_prix2 {
    background-color: #ea6c05;
  }
  
  .card_prix1 {
    border: 1px solid orange;
  
  }
  .co{
    width: 400px;
    margin-left: 150px;
  
  }
  .phone1{
    padding-left: 200px;
    padding-right: 200px;
    
  }
  .see-all{
    color: orange;
    
  }
  .vegei {
    border-radius: 10px;
    background-color: #8cc4b0;
    
  }
  .vegete{
    border-radius: 10px;
    background-color: #04AA6D;
  }
  .card_prix1,
  .card_prix2 {
    margin: 17px;
    padding: 19px;
  
  }
  .btn-info{
    background-color: rgb(73, 57, 36);
    color: black;
  }
  
  .prix {
    font-size: 50px;
    font-weight: bold;
     color: #696868;
  }
  
  .prices_include {
    font-size: 11px;
    text-align: center;
  }
  .btn-warning a {
    
    padding-right: 10px;
  }
   
   
  .btn-warning{
    margin-left: 100px;
    
  }
  
  
  .fa-infinity,
  .fa-apple-alt,
  .fa-feather-alt,
  .fa-pause {
    background-color: bisque;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fc7702;
    font-size: 40px;
  
  }
  
  .formulaire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
  
  }
  
  .sign {
    color: white;
  
  }
  
  .form-party {
    background-color: #e98b39;
  }
  
  input,
  select {
    padding: 8px;
  }
  
  .footer,
  a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  } 
  .hero-image {
  
    width: auto;
  }
  
  .hero-text {
    position: absolute;
    top: 200px;
  }
  
  .hero-titre {
    font-size: 3rem;
  }
  
  .hero-p {
    font-size: 1.5rem;
  }
  
  .eating-well {
    font-weight: 500px;
  }
  
  .testi,
  .pricing {
    color: #d17727;
  }
  
  .item {
    list-style: none;
  }
  a:hover{
    color: orange;
  }
  
  .l {
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .card_prix2 .liste {
    margin: 2.2rem;
  }
  
  .logo_omnifood_footer {
    height: 1.3rem;
  }
  
  .c {
    background-color: #fdf2e9;
  
  }
  .ii{
    font-size: 1.5rem;
  }
  @media (max-width:300px){
    .step{
     margin-top: 80px;
      
    }
    .bouton .btn-warning{
      padding-left: 20px;
      
    }
    
    .pri{
       
      width: 100%;
      margin: 0;
      padding: 0px;
      text-align: start;
    }
    .bn{
     
      padding-bottom: 600px;
      width: 100%;
    
    }
    .h{
      
      width: 100%;
      margin: 0;
    }
    .step,
    .row,
    .red ,
    .how{
      font-size: 40px;
    }
    .co{
     
      margin: 0;
    }
    .row{
      margin: 0;
      width: 100%;
    }
  
    .container{
      width: 100%;
      margin: 0;
    }
    .principale{
      margin: 0;
      width: 100%;
    }
    body{
      width: 270%;
    }
    .card.c{
     
      margin-bottom: 150px;
     
    }
  }
  
  @media (max-width:1337px) {
    .image_ligne1 {
      display: grid ;
      grid-template-columns: repeat(2, 1fr) ;
      gap: 1.6rem ;
      padding: 1.6rem ;
    }
  }
  
  @media (max-width:945px) {
    .image_ligne1 {
      grid-template-columns: repeat(2, 1fr);
  
    }
  
    .principale,
    .block_principale2 {
      flex-direction: column;
  
    }
  }
  
  @media (max-width:778px) {
  
    .cadre_image_personne1,
    .cadre_image_personne2 {
      display: flex;
  
    }
  
    .principale {
      display: flex ;
      flex-direction: column ;
    }
  
    .image_ligne1 {
      grid-template-columns: repeat(3, 1fr) ;
  
    }
  }
  @media screen and (max-width:323px){
    .hero{
      height: 100vh;
      width: 100%;
      
      
    }
    .topnav{
      width: 100%;
      margin: 0;
    }
    
    
  }
  
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
  }
  
  .topnav .menu_liste {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 1159px) {
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    .topnav ul.menu_liste {
      display: none;
    }
  }
  
  @media screen and (max-width:1159px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav {
      height: auto;
      padding: 1.6rem 0;
      
    }
  
    .topnav.responsive ul.menu_liste {
      display: flex;
      flex-direction: column;
      background-color: #fdf2e9;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 12;
    }
    .topnav.responsive ul.menu_liste a {
      
      color: black
    }
    a:hover{
      color: orange;
    }
  }
  
  @media (max-width:1198px) {
    .formulaire {
      grid-template-columns: 1fr;
      column-gap: 3rem ;
      row-gap: 2rem ;
  
    }
  }
  
  @media (max-width:864px) {
    .i1 {
  
      position: absolute ;
      left: 190px ;
      z-index: 2 ;
      width: 200px ;
      
    }
  
    .i2 {
      position: absolute ;
      z-index: 3 ;
      width: 300px ;
      top: 150px ;
      left: 130px ;
    }
  
    .i3 {
      position: absolute ;
      z-index: 1 ;
      width: 300px ;
      left: 100px ;
    }  
    
  }
  
  @media screen and (max-width: 1300px) {
    .h {
      display: flex;
      flex-direction: column;
    }
  
    .i1 {
  
      position: absolute ;
      left: 190px ;
      z-index: 2 ;
      width: 300px ;
    }
  
    .i2 {
      position: absolute;
      z-index: 3 ;
      width: 300px ;
      top: 150px ;
      left: 130px ;
    }
  
    .i3 {
      position: absolute ;
      z-index: 1 ;
      width: 300px ;
      left: 100px ;
    }
  }
  
  @media (max-width:515px) {
    .index_image {
      position: relative;
      left: -59px;
    }
    .hero{
      height: 1250px;
      width: 100%;
      padding-bottom: 450px;
    }
    .phone1{
      padding: 0;
      margin: 0;
    }
   
    .card-body .card-title{
     
     
    }
    .pri{
      width: 100%;
      padding-left: 1rem;
      padding-right: 4rem ;
    }
  
    .form-party{
      width: 100%;
      padding: 0;
      margin: 0;
    }
    
    .container .p-5{
      padding-top: 50px;
    }
    .i1 {
  
      position: absolute;
      left: 100px;
      z-index: 2 ;
      width: 230px ;
      top: 50px;
    }
    .border-0 img{
      width: 250px;
      height: 250px;
    }
  .card .nv{
    width: 100%;
  }
  
    .i2 {
      position: absolute;
      z-index: 3;
      width: 100px;
      top: 100px ;
      left: 100px;
    }
  
    .i3 {
      position: absolute ;
      z-index: 1 ;
      width: 100px ;
      left: 60px ;
      top: -25px;
    }
  }
  
  @media (max-width:305px) {
  
    .topnav {
      height: auto;
      padding: 1.6rem 0;
      width: 100%;
      
    }
  
    .form-outline,
    select,
    .sign {
      position: relative;
      left: -20px;
    }
  }
  
  @media (max-width:399px) {
    .liste .l {
      font-size: 0.5rem;
    }
  
    .ll {
      font-size: 9px;
    }
  
    .fa-check {
      font-size: 1rem;
    }
  
  }
  @media (max-width:337px){
    .iii{
      font-size: 1.2rem;
    }
    .ii{
      font-size: 1.2rem;
    }
    
  }
  @media (max-width:983px){
    .ct{
      display: none;
    }
    .ch{
      display: block;
    }
  }
  .ch{
    display: none;
  }
  @media (max-width:971px) {
    .l .card-title h1, p{
      font-size: 40px;
      text-align: center;
      
    }
    .l .card-text p{
      font-size: 25px;
      text-align: center;
    }
     .learn{
      text-align: center;
    }
    
  .i1 {
  
    position: absolute;
    left: 290px;
    top: 10px ;
    z-index: 2;
    width: 199px;
  }
  
  .i2 {
    position: absolute;
    z-index: 3;
    width: 120px;
    top: 50px;
    left: 130px;
  }
  
  .i3 {
    position: absolute;
    z-index: 1;
    width: 150px;
    left: 70px;
  }
    
  }
  @media (max-width:337px) {
    .l .card-title{
     
      text-align: center;
    }
    .more{
   
      font-size: 25px;
    }
    .zz{
    
      font-size: 25px; 
    }
    .l .card-text{
      font-size: 30px;
      text-align: center;
    }
     .learn{
      text-align: center;
    }
       
     }
    @media (max-width:338px) { 
  .i1 {
  
    position: absolute;
    left: 90px;
    top: 10px ;
    z-index: 2;
    width: 89px;
  }
  
  .i2 {
    position: absolute;
    z-index: 3;
    width: 120px;
    top: 50px;
    left: 130px;
  }
  
  .i3 {
    position: absolute;
    z-index: 1;
    width: 150px;
    left: 70px;
  }
      .container .step{
        padding-top: 200px;
        
      } 
    
    
  }
  
  @media (max-width:418px){
    
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {

    padding: 10px;
    flex: 50%;
  }
  

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
  
    }
        
    }
  